<div class="sidebar">
    <div class="sidebar-nav">
        <a href="/">
            <img src="/images/sidebar_logo.png" class="logo" alt="">
        </a>
        <ul>
            <li <% if(title === "Dashboard"){ %> class="active" <% } %>><a href="/"><img src="/images/fi_home.svg" alt=""> Dashboard</a></li>
            <li <% if(title === "Cars" || title ===  "Add New Car" || title === "Update Car"){ %> class="active" <% } %>><a href="/car"><img src="/images/fi_truck.svg" alt=""> Cars</a></li>
        </ul>
    </div>
    <ul class="sidebar-menu">
        <li <% if(title === "Dashboard"){ %> class="active" <% } %>>
            <p>DASHBOARD</p>
            <a href="">Dasboard</a>
        </li>
        <li <% if(title === "Cars" || title ===  "Add New Car" || title ===  "Update Car"){ %> class="active" <% } %>>
            <p>CARS</p>
            <a href="">List Car</a>
        </li>
    </ul>
</div>