<div class="sidebar">
    <div class="sidebar-nav">
        <img src="images/sidebar_logo.png" class="logo" alt="">
        <ul>
            <li><a href=""><img src="/images/fi_home.svg" alt=""> Dashboard</a></li>
            <li><a href=""><img src="/images/fi_truck.svg" alt=""> Cars</a></li>
        </ul>
    </div>
    <ul class="sidebar-menu">
        <li class="active">
            <p>DASHBOARD</p>
            <a href="">Dasboard</a>
        </li>
        <li>
            <p>CARS</p>
            <a href="">List Car</a>
        </li>
    </ul>
</div>