*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-family: 'Helvetica';
}

.auth-wrapper{
    background: url(/images/auth_bg.png) no-repeat;
    background-size: cover;
    background-position: left;
}

.auth-form{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 482px;
    height: 100vh;
    margin-left: auto;
    padding: 55px 57px 55px 55px;
    background: #ffffff;
}

.auth-content{
    width: 100%;
}

.auth-form img{
    margin-bottom: 32px;
}

.auth-form h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
}

.auth-form label{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 9px;
}

.auth-form .form-group{
    margin-bottom: 18px;
}

.auth-form .form-control{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 15px;
    height: unset;
}

.auth-form .btn-auth{
    padding: 8px 12px;
    margin-top: 32px;
    color: #ffffff;
    background: #0D28A6;
    border-radius: 4px !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    transition: ease .3s;
}

.auth-form .btn-auth:hover{
    background: #0b2185;
}

.auth-form .alert{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    padding: 12px 16px;
    border-radius: 5px;
    border: none !important;
    margin-bottom: 32px;
}

.auth-form .alert.alert-danger{
    color: #D00C1A;
    background: rgba(208, 12, 26, 0.1);
}

.sidebar{
    position: fixed;
    display: flex;
    height: 100vh;
}

.sidebar .sidebar-nav{
    display: inline-block;
    width: 70px;
    background: #0D28A6;
}

.sidebar .logo{
    display: block;
    margin: 18px auto;
}

.sidebar .sidebar-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebar-nav ul li > a{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 3px;
    display: block;
    text-decoration: none;
    transition: ease .5s;
}

.sidebar .sidebar-nav ul li.active > a,
.sidebar .sidebar-nav ul li > a:hover{
    font-weight: 700;
    background: rgba(255, 255, 255, 0.3);
}

.sidebar .sidebar-nav ul li svg{
    display: block;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.sidebar .sidebar-menu{
    display: block;
    width: 220px;
    background: #fff;
    padding: 35px 0;
    padding-top: 105px;
    list-style: none;
    overflow: hidden;
    margin: 0;
    transition: all ease .5s;
}

.sidebar .sidebar-menu li{
    display: none;
}

.sidebar .sidebar-menu li.active{
    display: block;
    height: 100vh;
    white-space: nowrap;
}

.sidebar .sidebar-menu li p{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
    padding: 0 24px;
    margin-bottom: 20px;
}

.sidebar .sidebar-menu li a{
    display: block;
    padding: 11px 24px;
    background: #CFD4ED;
    position: static;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    text-decoration: none;
}

#sidebar-toggle{
    display: inline-block;
    cursor: pointer;
    margin-left: 123px;
}

.sidebar-menu.collapse{
    width: 0;
}

.navbar{
    padding: 16px 24px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    position: fixed;
    left: 70px;
    right: 0;
    top: 0;
    align-items: center;
    z-index: 10;
}

.navbar a{
    text-decoration: none;
}

.account-avatar img{
    margin-right: 8px;
}

.account-avatar .dropdown .dropdown-toggle{
    position: relative;
    font-weight: 400;
    padding-right: 32px;
    text-decoration: none;
}

.account-avatar .dropdown .dropdown-item,
.account-avatar .dropdown .dropdown-toggle{
    font-size: 14px;
    line-height: 20px;
    color: #151515;
}

.account-avatar .dropdown .dropdown-toggle::after{
    display: none;
}

.account-avatar .dropdown .dropdown-toggle::before{
    content: url(/images/fi_chevron-down.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.account-avatar .dropdown .dropdown-menu{
    top: 55px !important;
}

.main-content{
    padding-top: 70px;
    padding-left: 290px;
    transition: all ease .5s;
}

.main-content.full{
    padding-left: 70px;
}

.main-content .content-wrapper{
    padding: 32px 25px;
}

.dashboard-bg{
    background: #F4F5F7;
}

.btn-outline-primary{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0D28A6;
    padding: 8px 12px;
    border-color: #0D28A6;
    background-color: #fff;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:hover{
    color: #ffffff;
    background-color: #0D28A6 !important;
}

.btn-outline-danger{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FA2C5A;
    padding: 8px 12px;
    border-color: #FA2C5A;
    background-color: #fff;
}

.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger:hover{
    color: #ffffff;
    background-color: #FA2C5A !important;
}

.btn-primary{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 8px 12px;
    border-color: #0D28A6;
    background-color: #0D28A6;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
    background-color: #0b2185 !important;
}

.btn-success{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 8px 12px;
    border-color: #5CB85F;
    background-color: #5CB85F;
}

.btn-success:focus,
.btn-success:active,
.btn-success:hover{
    background-color: #54a557 !important;
}

.form-control{
    border-color: rgba(208, 208, 208, 1);
    border-radius: 2px;
    padding: 9px 12px;
    font-weight: 300;
    font-size: 12px;
    height: 36px;
}

.form-search .form-control{
    max-width: 175px;
}

.form-with-icon .form-control{
    padding-left: 38px;
    position: relative;
}

.form-with-icon {
    position: relative;
}

.form-with-icon svg{
    width: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    stroke: #D0D0D0;
}

.account-avatar img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.breadcrumb{
    padding: 0;
    background: none;
    margin-bottom: 27px;
}

.breadcrumb .breadcrumb-item{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
}

.breadcrumb .breadcrumb-item.active{
    font-weight: 300;
}

.breadcrumb .breadcrumb-item a{
    color: #000000 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url(/images/chevron-right.svg);
    top: 1px;
    position: relative;
    height: 16px;
    width: 16px;
    display: block;
    padding: 0;
    margin: 0 4px;
}

.page-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 16px;
}

.card{
    border: none;
}

.card-body{
    padding: 16px;
}

.form-group label{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
}

.form-group label > span{
    color: red
}

.custom-file-label::after{
    content: url(/images/fi_upload.svg) !important;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    padding: 0;
    height: 18px;
    width: 18px;
}

.form-group small {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
    margin: 4px 0px;
}

@media screen and (min-height: 920px) {
    .form-action{
        position: absolute;
        bottom: 40px;
        margin-top: 0;
    } 
}

.form-action{
    margin-top: 30px;
} 

.tab-category .btn{
    color: #AEB7E1;
    border-color: #AEB7E1;
    margin-right: 16px;
}

.tab-category .btn:hover,
.tab-category .btn.active{
    color: #0D28A6 !important;
    border-color: #0D28A6 !important;
    background-color: #CFD4ED !important;
}

.btn{
    line-height: 17px !important;
}

.btn svg{
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.car-card{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 30px;
}

.car-card .btn{
    padding: 11px 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.car-card .type{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.car-card .price{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.car-card .time{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.car-card .updatedAt,
.car-card .time{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
}

.car-card .updatedAt svg,
.car-card .time svg{
    width: 20px;
    height: 20px;
    stroke: #8A8A8A;
    margin-right: 10px;
}

table.dataTable thead th{
    background-color: #CFD4ED !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 12px 16px !important;
    border-color: #F4F5F7 !important;
}

table.dataTable tbody td{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 12px 16px !important;
    border-color: #F4F5F7 !important;
}

table.dataTable.no-footer{
    border-color: #F4F5F7 !important;
}

table.dataTable thead .sorting{
    background-image: url(/images/fi_sort.svg) !important;
    background-position-x: calc(100% - 16px) !important;
}

table.dataTable thead .sorting.sorting_asc {
    background-image: url(/images/fi_sort_asc.svg) !important;
    background-position-x: calc(100% - 16px) !important;
}

table.dataTable thead .sorting.sorting_desc {
    background-image: url(/images/fi_sort_desc.svg) !important;
    background-position-x: calc(100% - 16px) !important;
}

body table.dataTable thead .sorting_disabled{
    background-image: none !important;
}

.table-title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 2px 8px;
    border-left: 4px solid #0D28A6;
}

body .dataTables_wrapper .dataTables_paginate .ellipsis,
body .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 9px 0 !important;
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0 !important;
    border-radius: 2px !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8A8A8A !important;
    margin-left: 2px;
    text-align: center;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button svg{
    width: 16px;
    height: 16px;
}

body .dataTables_wrapper .dataTables_paginate .ellipsis{
    display: inline-block;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #CFD4ED !important;
    border: 1px solid #0D28A6 !important;
    color: #0D28A6 !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:hover svg{
    stroke: #0D28A6;
}

.table-wrapper{
    margin-bottom: 40px !important;
}

.dataTables_paginate{
    margin-top: 40px;
    padding: 0 !important;
}

.dataTables_length label{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 16px 0 0 !important;
}

.dataTables_length select{
    display: block;
    border-color: rgba(208, 208, 208, 1) !important;
    border-radius: 2px !important;
    padding: 9px 30px 9px 12px !important;
    font-weight: 300;
    font-size: 12px;
    height: 36px;
    margin-top: 8px !important;
    background-color: #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/images/fi_chevron-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 8px;
    background-size: 20px;
}

.pagination-select{
    margin-left: 24px;
}

.pagination-select .pagination-wrapper{
    display: flex;
}

.pagination-select .pagination-wrapper .btn{
    margin-top: 8px !important;
}

.pagination-select .pagination-wrapper select{
    width: 76px !important;
}

#toast-container{
    right: 50%;
    transform: translateX(50%);
}

#toast-container > .toast{
    background-image: none !important;
    max-width: 550px;
    width: 100vw;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 12px 16px;
    opacity: 1;
}

#toast-container > .toast-success{
    background: #73CA5C;
}

#toast-container > .toast-info{
    background: #151515;
}

#toast-container > .toast > .toast-message{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.modal-delete .modal-body{
    padding: 24px 32px;
}

.modal-delete .modal-body img{
    display: block;
    margin: 0 auto 24px;
}

.modal-delete .modal-body h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.modal-delete .modal-body p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

@media (min-width: 576px){
    .modal-delete .modal-dialog {
        max-width: 387px;
    }
}

.modal-action{
    display: flex;
    justify-content: center;
}

.modal-action .btn{
    width: 100%;
    max-width: 87px;
}